<!DOCTYPE html>
<html>

<head>
  <title>Project Logs - NDA</title>
  <link rel="icon" type="image/icon" href="../images?name=nda_logo.png" />
  <style>
    body {
      /* background-color: antiquewhite; */
      font-family: sans-serif;
    }

    .card {
      background-color: #fff;
      border-radius: 10px;
      max-width: 100%;
      margin: 20px;
      border: 2px solid #d4d4d4;
      padding: 10px 20px;
    }

    textarea {
      border: none;
      outline: none;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
      background-color: #45a049;
    }

    /* Add a background color and some padding around the form */
    .container {
      border-radius: 5px;
      padding: 20px;
    }

    .table-heading {
      color: black;
    }

    .button-green {
      background-color: #04AA6D;
      color: white;
      padding: 12 px 20 px;
      border: none;
      border-radius: 4 px;
      cursor: pointer;
      font-size: 20px;
    }

    .button-green:hover {
      background-color: #45a049;
    }

    .button-grey {
      background-color: #626262;
      color: white;
      padding: 12 px 20 px;
      border: none;
      border-radius: 4 px;
      cursor: pointer;
      font-size: 20px;
      height: 24px;
      float: right;
    }

    .button-grey:hover {
      background-color: #505250;
    }

    .button-black {
      background-color: #0f0f0fef;
      color: white;
      padding: 12 px 20 px;
      border: none;
      border-radius: 4 px;
      cursor: pointer;
      font-size: 20px;
    }

    .button-black:hover {
      background-color: #565c5c;
    }

    .loader {
      width: 100%;
      height: 100vh;
      text-align: center;
      position: fixed;
      display: block !important;
    }

    .loader-image {
      width: 20vh;
      height: 20vh;
    }

    .logs-loading {
      visibility: hidden;
    }

    .logs-text {
      height: 75%;
      width: 95vw;
      background: transparent;
      border: none !important;
      position: fixed;
    }

    .button-sm-red {
      background-color: #f12c12;
      color: white;
      padding: 12 px 20 px;
      border: none;
      border-radius: 4 px;
      cursor: pointer;
      font-size: 20px;
    }

    .button-sm-red:hover {
      background-color: #c44130;
    }

    .button-div {
      width: 92em;
    }

    .total-line-count {
      text-decoration: underline;
      text-decoration-color: limegreen;
      text-decoration-style: solid;
    }
  </style>
  <script type="text/javascript" language="JavaScript">
    var loadingLogs = false;
    var lastScrollPosition = 0;
    var count = '<%= count %>';
    var limit = 100;
    var logInterval;
    var intervalStopped = false;
    function enableLoader() {
      document.getElementById('logs-page').classList.add('logs-loading');
      document.getElementById('loader-div').classList.add('loader');
    }
    function setScroll(isLive) {
      var textarea = document.getElementById('logs-content');
      textarea.scrollTop = !isLive ? textarea.scrollHeight / 1.5 : textarea.scrollHeight;
      lastScrollPosition = textarea.scrollTop;
    }
    function loadLogsContent(textarea, params, isLive) {
      if (!loadingLogs) {
        var xhr = new XMLHttpRequest();
        var startLineNumber = document.getElementById('startLine').value;

        if (startLineNumber !== '' && Number.isNaN(parseInt(startLineNumber))) {
          alert('Start line must be a number');
        } else {
          if (startLineNumber !== '' && parseInt(startLineNumber) !== parseInt(count)) {
            textarea.innerHTML = '';
          }
          loadingLogs = true;
          document.getElementById('loader-div').classList.add('loader');
          count = startLineNumber !== '' ? parseInt(startLineNumber) : count;

          var URL = 'http://localhost:${PORT}/logs/content?UID=<%= UID %>&count=' + count + '&limit=' + limit;
          if (params && params !== '') {
            URL += params;
          }
          xhr.open('GET', URL, true);
          xhr.responseType = 'json';
          xhr.onload = function () {
            var status = xhr.status;
            if (status === 200 && xhr && xhr.response) {
              if (xhr.response.content && xhr.response.content.length > 0) {
                textarea.innerHTML += '\n' + xhr.response.content;
                setScroll(isLive);
                if (xhr.response.count && parseInt(xhr.response.count) > 0) {
                  count = parseInt(xhr.response.count);
                  document.getElementById('startLine').value = count;
                }
                document.getElementById('total-lines').innerHTML = xhr.response.totalLines;
              } else {
                if (!isLive) {
                  //alert('No more logs to load.');
                }
              }
            }
            loadingLogs = false;
            document.getElementById('loader-div').className = '';
          };
          xhr.send();
        }
      }
    }
    function loadLiveLog() {
      logInterval = setInterval(function () {
        var textarea = document.getElementById('logs-content');
        if (eval(parseInt(textarea.clientHeight) + parseInt(textarea.scrollTop) + 1) >= parseInt(textarea.scrollHeight)) {
          loadLogsContent(textarea, '&id=<%= id %>', true);
        }
      }, 4000);
    }
    function getLiveLogStatus() {
      var urlParams = window.location.toString().split('?')[1];
      if (urlParams && urlParams.indexOf('isLive=') > -1) {
        var liveLog = urlParams.split('isLive=')[1];
        var disableLive = '<%= disableLive %>';
        if (liveLog === 'true' && disableLive === 'false') {
          loadLiveLog();
        }
        setTimeout(() => {
          setScroll();
        }, 100);
      }
    }
    getLiveLogStatus();
    function loadLogs(ignoreScroll) {
      var textarea = document.getElementById('logs-content');

      if (ignoreScroll || eval(parseInt(textarea.clientHeight) + parseInt(textarea.scrollTop) + 1) >= parseInt(textarea.scrollHeight)) {
        loadLogsContent(textarea, '&id=<%= id %>');
      }
    }
    function updateLogLimit() {
      var textarea = document.getElementById('logs-content');
      var logLimit = document.getElementById('limit-dropdown').value;
      if (parseInt(logLimit) > 0) {
        limit = logLimit;
        loadLogsContent(textarea, '&id=<%= id %>');
      }
    }
  </script>
</head>

<body>
  <div id="loader-div" style="display: none;" class=""><br /><br /><br /><br /><br />
    <image class="loader-image" src="../images?name=loading.gif">
  </div>
  <div id="logs-page" class="">
    <div class="table-heading">
      <h2>&nbsp;&nbsp;&nbsp;Logs - <%= projectName %>
      </h2>
    </div>

    <div class="container button-div">
      <button class="button-green" onclick="enableLoader();window.location.href='/'">Home</button>
      <button class="button-black"
        onclick="enableLoader();window.location.href='/logs/list?UID=<%= UID %>&id=<%= id %>'">Back</button>
      <label>Total Lines : <span class="total-line-count" id="total-lines"></span></label>
      <label>Start from line :</label>
      <input type="text" id="startLine" value='' placeholder="Start from line number" />
      <button class="button-green" onclick="loadLogs(true)">Fetch</button>
      <select class="button-grey" id="limit-dropdown" onchange="updateLogLimit()">
        <option value='100'>100 Lines</option>
        <option value='500'>500 Lines</option>
        <option value='1000'>1000 Lines</option>
      </select>
    </div>
    <div class="container">
      <textarea id="logs-content" readonly class="logs-text" onscroll="loadLogs()">
              <%= content %>
            </textarea>
    </div>
  </div>
</body>

</html>